name: Auto Deploy FastAPI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_KEY }}

    - name: Deploy
      run: |
        ssh -o StrictHostKeyChecking=no my@localhost << 'EOF'
        cd ~/Documents/githubAction
        git pull
        docker stop fastapi_app || true
        docker rm fastapi_app || true
        docker build -t myfastapi:latest .
        docker run -d --name fastapi_app -p 8000:8000 myfastapi:latest
        EOF

